
<section class="tf-space flat-portfolio flat-portfolio-grid">
    <div class="container">
        <div class="row">
            <div class="fl-gallery isotope-gl">
                <div class="tf-col-4 tf-living tf-interior">
                    <div class="portfolio-post box-gallery">
                        <img src="~/assets/images/image-box/portfolio-grid-post-1.jpg" alt="images">
                    </div>
                </div>
                <div class="tf-col-4 tf-living tf-interior">
                    <div class="portfolio-post box-gallery">
                        <img src="~/assets/images/image-box/portfolio-grid-post-5.jpg" alt="images">
                    </div>
                </div>
                <div class="tf-col-4 tf-living tf-interior v">
                    <div class="portfolio-post box-gallery">
                        <img src="~/assets/images/image-box/portfolio-grid-post-9.jpg" alt="images">
                    </div>
                </div>
                <div class="tf-col-4 tf-financial  tf-park">
                    <div class="portfolio-post box-gallery">
                        <img src="~/assets/images/image-box/portfolio-grid-post-2.jpg" alt="images">
                    </div>
                </div>
                <div class="tf-col-4 tf-financial  tf-house">
                    <div class="portfolio-post box-gallery">
                        <img src="~/assets/images/image-box/portfolio-grid-post-6.jpg" alt="images">
                    </div>
                </div>
                <div class="tf-col-4 tf-financial tf-strategy tf-park">
                    <div class="portfolio-post box-gallery">
                        <img src="~/assets/images/image-box/portfolio-grid-post-10.jpg" alt="images">
                    </div>
                </div>
                <div class="tf-col-4 tf-living ">
                    <div class="portfolio-post box-gallery">
                        <img src="~/assets/images/image-box/portfolio-grid-post-3.jpg" alt="images">
                    </div>
                </div>
                <div class="tf-col-4 tf-living  tf-house">
                    <div class="portfolio-post box-gallery">
                        <img src="~/assets/images/image-box/portfolio-grid-post-7.jpg" alt="images">
                    </div>
                </div>
                <div class="tf-col-4 tf-living tf-interior">
                    <div class="portfolio-post box-gallery">
                        <img src="~/assets/images/image-box/portfolio-grid-post-11.jpg" alt="images">
                    </div>
                </div>
                <div class="tf-col-4 tf-house tf-interior">
                    <div class="portfolio-post box-gallery">
                        <img src="~/assets/images/image-box/portfolio-grid-post-4.jpg" alt="images">
                    </div>
                </div>
                <div class="tf-col-4 tf-house tf-interior">
                    <div class="portfolio-post box-gallery">
                        <img src="~/assets/images/image-box/portfolio-grid-post-8.jpg" alt="images">
                    </div>
                </div>
                <div class="tf-col-4 tf-house tf-interior tf-park">
                    <div class="portfolio-post box-gallery">
                        <img src="~/assets/images/image-box/portfolio-grid-post-12.jpg" alt="images">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>