
<style>
    .flat-portfolio.flat-portfolio-grid .flat-filter-isotope li a {
        padding: 11px 5px !important;
    }
</style>

<section class="tf-space flat-portfolio flat-portfolio-grid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="portfolio-menu">
                    <ul class="flat-filter-isotope">
                        <li id="allwork" class="active"><a href="javascript:void(0)">All works</a></li>
                        <li id="btncorporate" class=""><a href="javascript:void(0)" data-filter=".tf-house">Corporate Offices</a></li>
                        <li id="btnofficerene" class=""><a href="javascript:void(0)">Office Renovations</a></li>
                        <li id="btnindutrial" class=""><a href="javascript:void(0)" data-filter=".tf-living">Industrial Projects</a></li>
                        <li id="btnturnkey" class=""><a href="javascript:void(0)" data-filter=".tf-park">Turnkey Contractors</a></li>
                    </ul>
                </div>
            </div>
            <div id="corporate" class="fl-gallery isotope-gl" style="position: relative; height: 390px;">
                <div class="tf-col-4 tf-living tf-interior" style="position: absolute; left: 0px; top: 0px;">
                    <div class="portfolio-post box-gallery">
                        <img src="~/assets/images/image-box/portfolio-grid-post-1.jpg" alt="images">
                        <div class="read-more-content">
                            <h3><a href="~/Home/ComercialProjectDetails">Project Details</a></h3>
                            <a href="#" class="readmore"></a>
                        </div>
                    </div>
                </div>
                <div class="tf-col-4 tf-living tf-interior" style="position: absolute; left: 399px; top: 0px;">
                    <div class="portfolio-post box-gallery">
                        <img src="~/assets/images/image-box/portfolio-grid-post-5.jpg" alt="images">
                        <div class="read-more-content">
                            <h3><a href="~/Home/ComercialProjectDetails">Project Details</a></h3>
                            <a href="#" class="readmore"></a>
                        </div>
                    </div>
                </div>
                <div class="tf-col-4 tf-living tf-interior v" style="position: absolute; left: 799px; top: 0px;">
                    <div class="portfolio-post box-gallery">
                        <img src="~/assets/images/image-box/portfolio-grid-post-9.jpg" alt="images">
                        <div class="read-more-content">
                            <h3><a href="~/Home/ComercialProjectDetails">Project Details</a></h3>
                            <a href="#" class="readmore"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="officerene" class="fl-gallery isotope-gl" style="position: relative; height: 390px;">
                <div class="tf-col-4 tf-living tf-interior" style="position: absolute; left: 0px; top: 0px;">
                    <div class="portfolio-post box-gallery">
                        <img src="~/assets/images/image-box/portfolio-grid-post-1.jpg" alt="images">
                        <div class="read-more-content">
                            <h3><a href="~/Home/ComercialProjectDetails">Project Details</a></h3>
                            <a href="#" class="readmore"></a>
                        </div>
                    </div>
                </div>
                <div class="tf-col-4 tf-living tf-interior" style="position: absolute; left: 399px; top: 0px;">
                    <div class="portfolio-post box-gallery">
                        <img src="~/assets/images/image-box/portfolio-grid-post-5.jpg" alt="images">
                        <div class="read-more-content">
                            <h3><a href="~/Home/ComercialProjectDetails">Project Details</a></h3>
                            <a href="#" class="readmore"></a>
                        </div>
                    </div>
                </div>
                <div class="tf-col-4 tf-living tf-interior v" style="position: absolute; left: 799px; top: 0px;">
                    <div class="portfolio-post box-gallery">
                        <img src="~/assets/images/image-box/portfolio-grid-post-9.jpg" alt="images">
                        <div class="read-more-content">
                            <h3><a href="~/Home/ComercialProjectDetails">Project Details</a></h3>
                            <a href="#" class="readmore"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="indutrial" class="fl-gallery isotope-gl" style="position: relative; height: 390px;">
                <div class="tf-col-4 tf-living tf-interior" style="position: absolute; left: 0px; top: 0px;">
                    <div class="portfolio-post box-gallery">
                        <img src="~/assets/images/image-box/portfolio-grid-post-1.jpg" alt="images">
                        <div class="read-more-content">
                            <h3><a href="~/Home/ComercialProjectDetails">Project Details</a></h3>
                            <a href="#" class="readmore"></a>
                        </div>
                    </div>
                </div>
                <div class="tf-col-4 tf-living tf-interior" style="position: absolute; left: 399px; top: 0px;">
                    <div class="portfolio-post box-gallery">
                        <img src="~/assets/images/image-box/portfolio-grid-post-5.jpg" alt="images">
                        <div class="read-more-content">
                            <h3><a href="~/Home/ComercialProjectDetails">Project Details</a></h3>
                            <a href="#" class="readmore"></a>
                        </div>
                    </div>
                </div>
                <div class="tf-col-4 tf-living tf-interior v" style="position: absolute; left: 799px; top: 0px;">
                    <div class="portfolio-post box-gallery">
                        <img src="~/assets/images/image-box/portfolio-grid-post-9.jpg" alt="images">
                        <div class="read-more-content">
                            <h3><a href="~/Home/ComercialProjectDetails">Project Details</a></h3>
                            <a href="#" class="readmore"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="turnkey" class="fl-gallery isotope-gl" style="position: relative; height: 390px;">
                <div class="tf-col-4 tf-living tf-interior" style="position: absolute; left: 0px; top: 0px;">
                    <div class="portfolio-post box-gallery">
                        <img src="~/assets/images/image-box/portfolio-grid-post-1.jpg" alt="images">
                        <div class="read-more-content">
                            <h3><a href="~/Home/ComercialProjectDetails">Project Details</a></h3>
                            <a href="#" class="readmore"></a>
                        </div>
                    </div>
                </div>
                <div class="tf-col-4 tf-living tf-interior" style="position: absolute; left: 399px; top: 0px;">
                    <div class="portfolio-post box-gallery">
                        <img src="~/assets/images/image-box/portfolio-grid-post-5.jpg" alt="images">
                        <div class="read-more-content">
                            <h3><a href="~/Home/ComercialProjectDetails">Project Details</a></h3>
                            <a href="#" class="readmore"></a>
                        </div>
                    </div>
                </div>
                <div class="tf-col-4 tf-living tf-interior v" style="position: absolute; left: 799px; top: 0px;">
                    <div class="portfolio-post box-gallery">
                        <img src="~/assets/images/image-box/portfolio-grid-post-9.jpg" alt="images">
                        <div class="read-more-content">
                            <h3><a href="~/Home/ComercialProjectDetails">Project Details</a></h3>
                            <a href="#" class="readmore"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

