
<style>
    .flat-portfolio.flat-portfolio-grid .flat-filter-isotope li a {
        padding: 11px 5px !important;
    }
</style>
<section class="tf-space flat-portfolio flat-portfolio-grid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="portfolio-menu">
                    <ul class="flat-filter-isotope">
                        <li class="active"><a href="#" data-filter="*">All works</a></li>
                        <li class=""><a href="portfolio-grid.html" data-filter=".tf-house">Corporate Offices</a></li>
                        <li class=""><a href="portfolio-grid.html" data-filter=".tf-interior">Office Renovations</a></li>
                        <li class=""><a href="portfolio-grid.html" data-filter=".tf-living">Industrial Projects</a></li>
                        <li class=""><a href="portfolio-grid.html" data-filter=".tf-park">Turnkey Contractors</a></li>
                    </ul>
                </div>
            </div>
            <div class="fl-gallery isotope-gl" style="position: relative; height: 1599.95px;">
                <div class="tf-col-4 tf-living tf-interior" style="position: absolute; left: 0px; top: 0px;">
                    <div class="portfolio-post box-gallery">
                        <img src="~/assets/images/image-box/portfolio-grid-post-1.jpg" alt="images">
                        <div class="read-more-content">
                            <h3><a href="~/Home/ComercialProjectDetails">Project Details</a></h3>
                            <a href="#" class="readmore"></a>
                        </div>
                    </div>
                </div>
                <div class="tf-col-4 tf-living tf-interior" style="position: absolute; left: 399px; top: 0px;">
                    <div class="portfolio-post box-gallery">
                        <img src="~/assets/images/image-box/portfolio-grid-post-5.jpg" alt="images">
                        <div class="read-more-content">
                            <h3><a href="~/Home/ComercialProjectDetails">Project Details</a></h3>
                            <a href="#" class="readmore"></a>
                        </div>
                    </div>
                </div>
                <div class="tf-col-4 tf-living tf-interior v" style="position: absolute; left: 799px; top: 0px;">
                    <div class="portfolio-post box-gallery">
                        <img src="~/assets/images/image-box/portfolio-grid-post-9.jpg" alt="images">
                        <div class="read-more-content">
                            <h3><a href="~/Home/ComercialProjectDetails">Project Details</a></h3>
                            <a href="#" class="readmore"></a>
                        </div>
                    </div>
                </div>
                <div class="tf-col-4 tf-financial  tf-park" style="position: absolute; left: 0px; top: 399px;">
                    <div class="portfolio-post box-gallery">
                        <img src="~/assets/images/image-box/portfolio-grid-post-2.jpg" alt="images">
                        <div class="read-more-content">
                            <h3><a href="~/Home/ComercialProjectDetails">Project Details</a></h3>
                            <a href="#" class="readmore"></a>
                        </div>
                    </div>
                </div>
                <div class="tf-col-4 tf-financial  tf-house" style="position: absolute; left: 399px; top: 399px;">
                    <div class="portfolio-post box-gallery">
                        <img src="~/assets/images/image-box/portfolio-grid-post-6.jpg" alt="images">
                        <div class="read-more-content">
                            <h3><a href="~/Home/ComercialProjectDetails">Project Details</a></h3>
                            <a href="#" class="readmore"></a>
                        </div>
                    </div>
                </div>
                <div class="tf-col-4 tf-financial tf-strategy tf-park" style="position: absolute; left: 799px; top: 399px;">
                    <div class="portfolio-post box-gallery">
                        <img src="~/assets/images/image-box/portfolio-grid-post-10.jpg" alt="images">
                        <div class="read-more-content">
                            <h3><a href="~/Home/ComercialProjectDetails">Project Details</a></h3>
                            <a href="#" class="readmore"></a>
                        </div>
                    </div>
                </div>
                <div class="tf-col-4 tf-living " style="position: absolute; left: 0px; top: 799px;">
                    <div class="portfolio-post box-gallery">
                        <img src="~/assets/images/image-box/portfolio-grid-post-3.jpg" alt="images">
                        <div class="read-more-content">
                            <h3><a href="~/Home/ComercialProjectDetails">Project Details</a></h3>
                            <a href="#" class="readmore"></a>
                        </div>
                    </div>
                </div>
                <div class="tf-col-4 tf-living  tf-house" style="position: absolute; left: 399px; top: 799px;">
                    <div class="portfolio-post box-gallery">
                        <img src="~/assets/images/image-box/portfolio-grid-post-7.jpg" alt="images">
                        <div class="read-more-content">
                            <h3><a href="~/Home/ComercialProjectDetails">Project Details</a></h3>
                            <a href="#" class="readmore"></a>
                        </div>
                    </div>
                </div>
                <div class="tf-col-4 tf-living tf-interior" style="position: absolute; left: 799px; top: 799px;">
                    <div class="portfolio-post box-gallery">
                        <img src="~/assets/images/image-box/portfolio-grid-post-11.jpg" alt="images">
                        <div class="read-more-content">
                            <h3><a href="portfolio-details.html">Project Details</a></h3>
                            <a href="#" class="readmore"></a>
                        </div>
                    </div>
                </div>
                <div class="tf-col-4 tf-house tf-interior" style="position: absolute; left: 0px; top: 1199px;">
                    <div class="portfolio-post box-gallery">
                        <img src="~/assets/images/image-box/portfolio-grid-post-4.jpg" alt="images">
                        <div class="read-more-content">
                            <h3><a href="portfolio-details.html">Project Details</a></h3>
                            <a href="#" class="readmore"></a>
                        </div>
                    </div>
                </div>
                <div class="tf-col-4 tf-house tf-interior" style="position: absolute; left: 399px; top: 1199px;">
                    <div class="portfolio-post box-gallery">
                        <img src="~/assets/images/image-box/portfolio-grid-post-8.jpg" alt="images">
                        <div class="read-more-content">
                            <h3><a href="portfolio-details.html">Project Details</a></h3>
                            <a href="#" class="readmore"></a>
                        </div>
                    </div>
                </div>
                <div class="tf-col-4 tf-house tf-interior tf-park" style="position: absolute; left: 799px; top: 1199px;">
                    <div class="portfolio-post box-gallery">
                        <img src="~/assets/images/image-box/portfolio-grid-post-12.jpg" alt="images">
                        <div class="read-more-content">
                            <h3><a href="portfolio-details.html">Project Details</a></h3>
                            <a href="#" class="readmore"></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>