
@{
    ViewData["Title"] = "AboutUs";
}
<style>
    .flat-approch .approch-box {
        width: 100% !important;
    }
</style>
<section class="flat-title-page">
    <div class="container">
        <div class="row">
            <div class="breadcrumbs">
                <div class="breadcrumb-trail link-style-2">
                    <a class="home" href="/">HOME</a><span>SERVICES</span>
                </div>
                <h2 class="section-title-page">About Us</h2>
            </div>
        </div>
    </div>
</section>

<section class="tf-space flat-approch">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="approch-title wow fadeInDown" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInDown;">
                    
                    <h2 class="section-heading">Why SB Interior solutions</h2>
                </div>
                <div class="approch-box box-2 wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 200ms; animation-name: fadeInUp;">
                    <ul class="list">
                        <li>More than 14 years experience</li>
                        <li>Choose interiors designed with superior quality material, leaving no room for defects.</li>
                        <li>Timely handover</li>
                        <li>On time Handing over with accurate project plan</li>
                        <li>In house design and execution experts</li>
                        <li>Explore design ideas and co-ordinate with teams and take end to end responsibilities</li>
                        <li>Post-installation service</li>
                        <li>Once  project completed get unwavering support from our dedicated care team.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>