
@{
    ViewData["Title"] = "AboutUs";
}
<style>
    .flat-approch .approch-box {
        width: 100% !important;
    }
</style>
<section class="flat-title-page">
    <div class="container">
        <div class="row">
            <div class="breadcrumbs">
                <div class="breadcrumb-trail link-style-2">
                    <a class="home" href="/">HOME</a><span>SERVICES</span>
                </div>
                <h2 class="section-title-page">About Us</h2>
            </div>
        </div>
    </div>
</section>

<section class="tf-space flat-counter" style="background-color: #fafafa;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>
                    We are a team of specialists capable of offering you a unique quality of life through design that directly 
                    nourishes your soul. As a leader amongst interior decorates in Hyderabad, we create highly bespoke solutions 
                    that embody our clients. With more than 12 years of experience, we are driven through a collaborative design 
                    spirit to create the most avant-garde spaces. SB Interior provides complete design services including with design 
                    services to installation and even detailing of the minutest details.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="tf-space flat-approch">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="approch-title wow fadeInDown" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInDown;">

                    <h2 class="section-heading">Why SB Interior solutions</h2>
                </div>
                <div class="approch-box box-2 wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 200ms; animation-name: fadeInUp;">
                    <ul class="list">
                        <li>More than 14 years experience</li>
                        <li>Choose interiors designed with superior quality material, leaving no room for defects.</li>
                        <li>Timely handover</li>
                        <li>On time Handing over with accurate project plan</li>
                        <li>In house design and execution experts</li>
                        <li>Explore design ideas and co-ordinate with teams and take end to end responsibilities</li>
                        <li>Once project completed get unwavering support from our dedicated care team.</li>
                        <li> Huge range of raw material options and 100% customisation is possible.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>