
@{
    ViewData["Title"] = "ComercialBlog";
}

<section class="flat-title-page">
    <div class="container">
        <div class="row">
            <div class="breadcrumbs">
                <div class="breadcrumb-trail link-style-2">
                    <a class="home" href="/">HOME</a><span>Commercial Project</span>
                </div>
                <h2 class="section-title-page"><span id="workname">Commercial Blog</span></h2>
            </div>
        </div>
    </div>
</section>
