
@{
    ViewData["Title"] = "ComercialProjectDetails";
}

<section class="flat-title-page">
    <div class="container">
        <div class="row">
            <div class="breadcrumbs">
                <div class="breadcrumb-trail link-style-2">
                    <a class="home" href="/">HOME</a><span>SERVICES</span>
                </div>
                <h2 class="section-title-page">Comercial Project Details</h2>
            </div>
        </div>
    </div>
</section>

<section class="tf-space flat-portfolio-details">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <article class="portfolio-content">
                    <div class="media">
                        <img src="~/assets/images/image-box/portfolio-details-1.jpg" alt="images">
                    </div>
                    <ul class="list-icon-portfolio">
                        <li>
                            <div class="icon-box">
                                <div class="icon">
                                    <img src="~/assets/images/icon/icon-team.png" alt="images">
                                </div>
                                <div class="content">
                                    <div class="title-sub">clients</div>
                                    <h3>Alexis H. Hein</h3>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="icon-box">
                                <div class="icon">
                                    <img src="~/assets/images/icon/icon-clock.png" alt="images">
                                </div>
                                <div class="content">
                                    <div class="title-sub">duration</div>
                                    <h3>10 Months</h3>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="icon-box">
                                <div class="icon">
                                    <img src="~/assets/images/icon/icon-chair.png" alt="images">
                                </div>
                                <div class="content">
                                    <div class="title-sub">type</div>
                                    <h3>Interior Design</h3>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="icon-box">
                                <div class="icon">
                                    <img src="~/assets/images/icon/icon-money.png" alt="images">
                                </div>
                                <div class="content">
                                    <div class="title-sub">values</div>
                                    <h3>$50,000</h3>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="widget-socials">
                        <li><a href="#" class="icon facebook"></a></li>
                        <li class="active"><a href="#" class="icon twitter"></a></li>
                        <li><a href="#" class="icon behance"></a></li>
                        <li><a href="#" class="icon youtube"></a></li>
                        <li><a href="#" class="icon link"></a></li>
                    </ul>
                    <p>
                        If you have an eye for color and arrangement, try getting a job as an interior designer or a merchandise displayer. ... This profession has been on a
                        steep decline for a decade, and jobs will continue to disappear as consumers turn to the Internet for bookings, even for more complex travel. Our
                        profession is probably one of the most stressful. We are always under some sort of pressure either by our clients or ourselves to create something
                        that is unlike anything else done before. ... Designers who are constantly in this state are more likely not to recover their health even after leaving
                        the profession is not a shit shat job it’s too hard.
                    </p>
                    <div class="thumb">
                        <div class="content">
                            <h2>Project Challenge</h2>
                            <p>
                                But if you have talent and ambition, it is possible to succeed in the
                                world of interiors without studying interior design in school or this is
                                becoming a professional member of the American Society of Interior
                                Designers, which requires you to pass the National
                            </p>
                        </div>
                        <div class="content">
                            <h2>Result</h2>
                            <p>
                                How Long Does It Take to Become an Interior Designer? Most bachelor
                                degree programs in interior design take 4 years to complete, while
                                master's degree programs take 2 years. However, when answering how
                                long it takes to become an interior designer, students.
                            </p>
                        </div>
                    </div>
                    <div class="twentytwenty-wrapper twentytwenty-horizontal">
                        <div class="twenty-content twentytwenty-container" style="height: 550px;">
                            <img src="~/assets/images/image-box/portfolio-details-3.jpg" alt="images" class="twentytwenty-before" style="clip: rect(0px, 585px, 550px, 0px);">
                            <img src="~/assets/images/image-box/portfolio-details-2.jpg" alt="images" class="twentytwenty-after" style="clip: rect(0px, 1170px, 550px, 585px);">
                            <div class="twentytwenty-overlay"><div class="twentytwenty-before-label" data-content="Before"></div><div class="twentytwenty-after-label" data-content="After"></div></div><div class="twentytwenty-handle" style="left: 585px;"><span class="twentytwenty-left-arrow"></span><span class="twentytwenty-right-arrow"></span></div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>