@{
    ViewData["Title"] = "Home Page";
}

<section class="slider">
    <div class="container-fluid">
        <div class="row">
            <h2 class="mark-slider">A</h2>
            <div class="swiper-container mainslider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="back-ground">
                            <img src="assets/images/image-slider/image-slider-1.jpg" alt="images">
                        </div>
                        <div class="content">
                            <div class="heading">
                                <h3 class="indexh3">
                                    Award winning company <br />
                                    with more than 14 years of experience
                                </h3>
                            </div>
                            <div class="button-slider">
                                <a asp-controller="Home" asp-action="Contact" class="button btn-style3"><span>Get A Quote</span></a>
                                <div class="video-slider">
                                    <a href="https://www.youtube.com/watch?v=xym7EJZZHyw&feature=youtu.be" class="lightbox-image">
                                        <i class="ripple"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="back-ground">
                            <img src="assets/images/image-slider/image-slider-2.jpg" alt="images">
                        </div>
                        <div class="content">
                            <div class="heading">
                                <h3 class="indexh3">
                                    Best Interior Designers <br />
                                    In Hyderabad - SB Interior  Solutions
                                </h3>
                            </div>
                            <div class="button-slider">
                                <a asp-controller="Home" asp-action="Contact" class="button btn-style3"><span>Get A Quote</span></a>
                                <div class="video-slider">
                                    <a href="https://www.youtube.com/watch?v=xym7EJZZHyw&feature=youtu.be" class="lightbox-image">
                                        <i class="ripple"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="back-ground">
                            <img src="assets/images/image-slider/image-slider-3.jpg" alt="images">
                        </div>
                        <div class="content">
                            <div class="heading">
                                <h3 class="indexh3">
                                    DESIGNING YOUR DREAM.<br />
                                    CREATING OUR VISION.
                                </h3>
                            </div>
                            <div class="button-slider">
                                <a asp-controller="Home" asp-action="Contact" class="button btn-style3"><span>Get A Quote</span></a>
                                <div class="video-slider">
                                    <a href="https://www.youtube.com/watch?v=xym7EJZZHyw&feature=youtu.be" class="lightbox-image">
                                        <i class="ripple"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-custom-slider">
                <div class="swiper-button-next button-slide-custom-next"></div>
                <div class="swiper-button-prev button-slide-custom-prev"></div>
            </div>
        </div>
    </div>
</section>

<section class="tf-space flat-testimonials home-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="feedback-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                    <div class="swiper-container slide-2 swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events">
                        <div class="swiper-wrapper" id="swiper-wrapper-3e3c0fa10a51018bf5" aria-live="off" style="transform: translate3d(-2460px, 0px, 0px); transition-duration: 500ms;">
                            <div class="swiper-slide" role="group" aria-label="1 / 3" style="width: 1170px; margin-right: 60px;">
                                <div class="inner">
                                    <div class="user-avatar">
                                        <img src="assets/images/image-box/testimonials-post-1.jpg" alt="images">
                                    </div>
                                    <div class="content">
                                        <p>
                                            Save Money and time - On Time handover is Guaranteed
                                        </p>
                                        <h3 class="name"><a>Hari Babu</a> </h3>
                                        <div class="job">Proprietor</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="tf-space flat-services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="services-title wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="section-title">services</div>
                    <h2 class="section-heading">What We Do</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="services-post-left wow zoomIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <img src="assets/images/image-box/services-post-1.jpg" alt="images">
                </div>
            </div>
            <div class="col-md-6">
                <div class="services-content right wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="title">service #01</div>
                    <h3><a asp-controller="Home" asp-action="Residential"> Residential Project</a></h3>
                    <p>
                        During the bachelor's degree program, an architecture student
                        can expect to take courses in a variety of concentrations
                    </p>
                    <ul class="list-quotes">
                        <li><span class="icon"></span><a href="service-details.html">Core Level Architecture Design</a> </li>
                        <li><span class="icon"></span><a href="service-details.html"> Planning & Making Sketch</a></li>
                        <li><span class="icon"></span><a href="service-details.html">Qudak & SoundBurn Solutions</a> </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="services-content left wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="title">service #02</div>
                    <h3><a asp-controller="Home" asp-action="Comercial">Commercial Project</a></h3>
                    <p>
                        During the bachelor's degree program, an architecture student
                        can expect to take courses in a variety of concentrations
                    </p>
                    <ul class="list-quotes">
                        <li><span class="icon"></span><a href="service-details.html">Core Level Architecture Design</a> </li>
                        <li><span class="icon"></span><a href="service-details.html"> Planning & Making Sketch</a></li>
                        <li><span class="icon"></span><a href="service-details.html">Qudak & SoundBurn Solutions</a> </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="services-post-right wow zoomIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <img src="assets/images/image-box/services-post-2.jpg" alt="images">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="tf-space flat-quote">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8">
                <div class="quote-title wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                    <div class="section-title">get a quote</div>
                    <h2 class="section-heading">Get Incredible Interior Design <span>Right Now!</span> </h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="content-right wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInRight;">
                    <div class="btn-2">
                        <a asp-controller="Home" asp-action="Contact" class="button btn-style3"><span>Get Appointment</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="tf-space flat-about-us-2">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="content-left">
                    <div class="about-post">
                        <div class="post-1 wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInLeft;">
                            <img src="assets/images/image-box/about-post-1.jpg" alt="images">
                        </div>
                        <div class="post-2 wow fadeInLeft" data-wow-delay="200ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 200ms; animation-name: fadeInLeft;">
                            <img src="assets/images/image-box/about-post-2.jpg" alt="images">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="content-right wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                    <div class="section-title">
                        ABOUT US
                    </div>
                    <h2 class="section-heading">
                        Architects With
                        Difference
                    </h2>
                    <span class="note">
                        During the bachelor's degree program, an architecture expert<br>
                        can expect to take courses in a variety of concentrations.
                    </span>
                    <p>
                        Architecture is the built realisation of a particular concept, or idea. This
                        idea can be about construction, or the way people will use a building, or
                        how the building fits into a physical, or a social, landscape.
                    </p>
                    <a asp-controller="Home" asp-action="AboutUs" class="button btn-style2"><span>Learn More</span></a>
                </div>
            </div>
        </div>
    </div>
</section>

