
@{
    ViewData["Title"] = "Residential";
}

<section class="flat-title-page">
    <div class="container">
        <div class="row">
            <div class="breadcrumbs">
                <div class="breadcrumb-trail link-style-2">
                    <a class="home" href="/">HOME</a><span>SERVICES</span>
                </div>
                <h2 class="section-title-page">Residential Project</h2>
            </div>
        </div>
    </div>
</section>

<section class="tf-space flat-counter tf-counter" style="padding-bottom: 40px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-count">
                    <li class="item">
                        <div class="img-counter">
                            <img src="~/assets/images/icon/img-counter-01.png" alt="images">
                        </div>
                        <div class="content">
                            <h3 class="number" data-speed="1000" data-to="8900" data-inviewport="yes">8900</h3>
                            <span>Active Clients </span>
                        </div>
                        <h2>01</h2>
                    </li>
                    <li class="item">
                        <div class="img-counter">
                            <img src="~/assets/images/icon/img-counter-02.png" alt="images">
                        </div>
                        <div class="content">
                            <h3 class="number" data-speed="1000" data-to="571" data-inviewport="yes">571</h3>
                            <span>Projects Done </span>
                        </div>
                        <h2>02</h2>
                    </li>
                    <li class="item">
                        <div class="img-counter">
                            <img src="~/assets/images/icon/img-counter-03.png" alt="images">
                        </div>
                        <div class="content">
                            <h3 class="number" data-speed="1000" data-to="92" data-inviewport="yes">92</h3>
                            <span>Official Branch </span>
                        </div>
                        <h2>03</h2>
                    </li>
                    <li class="item">
                        <div class="img-counter">
                            <img src="~/assets/images/icon/img-counter-04.png" alt="images">
                        </div>
                        <div class="content">
                            <h3 class="number" data-speed="1000" data-to="20" data-inviewport="yes">20</h3>
                            <span>Team Mates </span>
                        </div>
                        <h2>04</h2>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="tf-space flat-blog-grid home-3 portfolio-page" style="padding-top: 60px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="portfolio-title wow fadeInDown" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible;
                                    animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInDown;padding-bottom: 15px;">
                    <div class="section-title">PORTFOLIO</div>
                    <h2 class="section-heading">Our Creative Works</h2>
                </div>
            </div>
            <div class="col-md-4">
                <div class="grid-post left">
                    <div class="media">
                        <img src="~/assets/images/image-box/portfolio-page-post-1.jpg" alt="images">
                    </div>
                    <div class="content">
                        <div class="meta">
                            <span class="entry-author">INTERIOR, DESIGN</span>
                        </div>
                        <h3>
                            <a href="~/Home/WorkDetails?work=Modular kitchens">
                                Modular kitchens
                            </a>
                        </h3>
                    </div>
                </div>
                <div class="grid-post left">
                    <div class="media">
                        <img src="~/assets/images/image-box/portfolio-page-post-2.jpg" alt="images">
                    </div>
                    <div class="content">
                        <div class="meta">
                            <span class="entry-author">INTERIOR, DESIGN</span>
                        </div>
                        <h3>
                            <a href="~/Home/WorkDetails?work=Living Rooms">
                                Living Rooms
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="grid-post center">
                    <div class="media">
                        <img src="~/assets/images/image-box/portfolio-page-post-5.jpg" alt="images">
                    </div>
                    <div class="content">
                        <div class="meta">
                            <span class="entry-author">INTERIOR, DESIGN</span>
                        </div>
                        <h3>
                            <a href="~/Home/WorkDetails?work=Master bed rooms">
                                Master bed rooms
                            </a>
                        </h3>
                    </div>
                </div>
                <div class="grid-post center">
                    <div class="media">
                        <img src="~/assets/images/image-box/portfolio-page-post-6.jpg" alt="images">
                    </div>
                    <div class="content">
                        <div class="meta">
                            <span class="entry-author">INTERIOR, DESIGN</span>
                        </div>
                        <h3>
                            <a href="~/Home/WorkDetails?work=Child bed rooms">
                                Child bed rooms
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="grid-post right">
                    <div class="media">
                        <img src="~/assets/images/image-box/portfolio-page-post-9.jpg" alt="images">
                    </div>
                    <div class="content">
                        <div class="meta">
                            <span class="entry-author">INTERIOR, DESIGN</span>
                        </div>
                        <h3>
                            <a href="~/Home/WorkDetails?work=False ceilings">
                                False ceilings
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="tf-space flat-portfolio" style=" padding-top: 112px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow fadeInUp text-center" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible;
                animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;padding-bottom: 40px;">
                <h2 class="section-heading">Trusted by 100+ communities</h2>
            </div>
            <div class="col-md-12">
                <div class="brand-slider">
                    <div class="swiper-container carousel-3 swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events">
                        <div class="swiper-wrapper" id="swiper-wrapper-e7ac3539622db665" aria-live="off" style="transform: translate3d(-1569px, 0px, 0px); transition-duration: 0ms;">
                            <div class="swiper-slide swiper-slide-duplicate" style="width:144.333px; margin-right:30px;">
                                <div class="slogan-logo active">
                                    <a href="#">
                                        <img src="~/assets/images/image-box/aparna.jpg" style="width: 55%;" alt="images">
                                    </a>
                                </div>
                            </div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="1" role="group" aria-label="2 / 5" style="width: 144.333px; margin-right: 30px;">
                                <div class="slogan-logo active">
                                    <a href="#">
                                        <img src="~/assets/images/image-box/medium.jpg" style="width: 55%;" alt="images">
                                    </a>
                                </div>
                            </div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2" role="group" aria-label="3 / 5" style="width: 144.333px; margin-right: 30px;">
                                <div class="slogan-logo active">
                                    <a href="#">
                                        <img src="~/assets/images/image-box/NCC.jpg" style="width: 55%;" alt="images">
                                    </a>
                                </div>
                            </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="3" role="group" aria-label="4 / 5" style="width: 144.333px; margin-right: 30px;">
                                <div class="slogan-logo active">
                                    <a href="#">
                                        <img src="~/assets/images/image-box/smr.jpg" style="width: 55%;" alt="images">
                                    </a>
                                </div>
                            </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="4" role="group" aria-label="5 / 5" style="width: 144.333px; margin-right: 30px;">
                                <div class="slogan-logo active">
                                    <a href="#">
                                        <img src="~/assets/images/image-box/dv.jpg" style="width: 55%;"  alt="images">
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-duplicate-next" data-swiper-slide-index="0" role="group" aria-label="1 / 5" style="width: 144.333px; margin-right: 30px;">
                                <div class="slogan-logo active">
                                    <a href="#">
                                        <img src="~/assets/images/image-box/aparna.jpg" style="width: 55%;" alt="images">
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide" data-swiper-slide-index="1" role="group" aria-label="2 / 5" style="width: 144.333px; margin-right: 30px;">
                                <div class="slogan-logo active">
                                    <a href="#">
                                        <img src="~/assets/images/image-box/medium.jpg" style="width: 55%;" alt="images">
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide" data-swiper-slide-index="2" role="group" aria-label="3 / 5" style="width: 144.333px; margin-right: 30px;">
                                <div class="slogan-logo active">
                                    <a href="#">
                                        <img src="~/assets/images/image-box/NCC.jpg" style="width: 55%;" alt="images">
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="3" role="group" aria-label="4 / 5" style="width: 144.333px; margin-right: 30px;">
                                <div class="slogan-logo active">
                                    <a href="#">
                                        <img src="~/assets/images/image-box/smr.jpg" style="width: 55%;" alt="images">
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="4" role="group" aria-label="5 / 5" style="width: 144.333px; margin-right: 30px;">
                                <div class="slogan-logo active">
                                    <a href="#">
                                        <img src="~/assets/images/image-box/dv.jpg" style="width: 55%;"  alt="images">
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-duplicate swiper-slide-next" data-swiper-slide-index="0" role="group" aria-label="1 / 5" style="width: 144.333px; margin-right: 30px;">
                                <div class="slogan-logo">
                                    <a href="#">
                                        <img src="~/assets/images/image-box/aparna.jpg" alt="images">
                                    </a>
                                </div>
                            </div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="1" role="group" aria-label="2 / 5" style="width: 144.333px; margin-right: 30px;">
                                <div class="slogan-logo active">
                                    <a href="#">
                                        <img src="~/assets/images/image-box/slogan-2.png" alt="images">
                                    </a>
                                </div>
                            </div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2" role="group" aria-label="3 / 5" style="width: 144.333px; margin-right: 30px;">
                                <div class="slogan-logo">
                                    <a href="#">
                                        <img src="~/assets/images/image-box/slogan-3.png" alt="images">
                                    </a>
                                </div>
                            </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="3" role="group" aria-label="4 / 5" style="width: 144.333px; margin-right: 30px;">
                                <div class="slogan-logo">
                                    <a href="#">
                                        <img src="~/assets/images/image-box/slogan-4.png" alt="images">
                                    </a>
                                </div>
                            </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="4" role="group" aria-label="5 / 5" style="width: 144.333px; margin-right: 30px;">
                                <div class="slogan-logo">
                                    <a href="#">
                                        <img src="~/assets/images/image-box/slogan-5.png" alt="images">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="tf-space flat-testimonials">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="testimonials-title wow fadeInDown" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInDown;">
                    <div class="section-title">testimonials</div>
                    <h2 class="section-heading">User Feedback</h2>
                </div>
            </div>
            <div class="col-md-12">
                <div class="feedback-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                    <div class="icon">
                        <img src="~/assets/images/icon/icon-quote.png" alt="images">
                    </div>
                    <div class="button-custom-slider">
                        <div class="swiper-button-next button-slide-custom-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-f6f5e1a5026c953d" aria-disabled="false"></div>
                        <div class="swiper-button-prev button-slide-custom-prev" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-f6f5e1a5026c953d" aria-disabled="false"></div>
                    </div>
                    <div class="swiper-container slide swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events">
                        <div class="swiper-wrapper" id="swiper-wrapper-f6f5e1a5026c953d" aria-live="off" style="transform: translate3d(-1110px, 0px, 0px); transition-duration: 0ms;">
                            <div class="swiper-slide swiper-slide-prev" role="group" aria-label="1 / 3" style="width: 1050px; margin-right: 60px;">
                                <div class="inner">
                                    <div class="user-avatar">
                                        <img src="~/assets/images/image-box/testimonials-post-1.jpg" alt="images">
                                    </div>
                                    <div class="content">
                                        <p>
                                            " You will never fake the feeling of being in such a place. The
                                            live minimalism
                                            base on the natural materials &amp; alive unprocessed. You can move
                                            forward
                                            with this publical awesome team. "
                                        </p>
                                        <div class="title-sub">Designer</div>
                                        <h3 class="name"> <a href="#">MR. Dhananjaya</a> </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-active" role="group" aria-label="2 / 3" style="width: 1050px; margin-right: 60px;">
                                <div class="inner">
                                    <div class="user-avatar">
                                        <img src="~/assets/images/image-box/pranaw.jpg" alt="images">
                                    </div>
                                    <div class="content">
                                        <p>
                                            " You will never fake the feeling of being in such a place. The
                                            live minimalism
                                            base on the natural materials &amp; alive unprocessed. You can move
                                            forward
                                            with this publical awesome team. "
                                        </p>
                                        <div class="title-sub">Designer</div>
                                        <h3 class="name"> <a href="#">MR. Pranav</a> </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-next" role="group" aria-label="3 / 3" style="width: 1050px; margin-right: 60px;">
                                <div class="inner">
                                    <div class="user-avatar">
                                        <img src="~/assets/images/image-box/testimonials-post-1.jpg" alt="images">
                                    </div>
                                    <div class="content">
                                        <p>
                                            " You will never fake the feeling of being in such a place. The
                                            live minimalism
                                            base on the natural materials &amp; alive unprocessed. You can move
                                            forward
                                            with this publical awesome team. "
                                        </p>
                                        <div class="title-sub">Designer</div>
                                        <h3 class="name"> <a href="#">MR. Shrikant</a> </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-next" role="group" aria-label="3 / 3" style="width: 1050px; margin-right: 60px;">
                                <div class="inner">
                                    <div class="user-avatar">
                                        <img src="~/assets/images/image-box/testimonials-post-1.jpg" alt="images">
                                    </div>
                                    <div class="content">
                                        <p>
                                            " You will never fake the feeling of being in such a place. The
                                            live minimalism
                                            base on the natural materials &amp; alive unprocessed. You can move
                                            forward
                                            with this publical awesome team. "
                                        </p>
                                        <div class="title-sub">Designer</div>
                                        <h3 class="name"> <a href="#">MR. Karan</a> </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-next" role="group" aria-label="3 / 3" style="width: 1050px; margin-right: 60px;">
                                <div class="inner">
                                    <div class="user-avatar">
                                        <img src="~/assets/images/image-box/sridhar.jpg" alt="images">
                                    </div>
                                    <div class="content">
                                        <p>
                                            " You will never fake the feeling of being in such a place. The
                                            live minimalism
                                            base on the natural materials &amp; alive unprocessed. You can move
                                            forward
                                            with this publical awesome team. "
                                        </p>
                                        <div class="title-sub">Designer</div>
                                        <h3 class="name"> <a href="#">Mr.Sridhar & Mrs. Susheela</a> </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="tf-space flat-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content wow fadeInDown" data-wow-delay="0ms" data-wow-duration="1500ms"
                     style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInDown;">
                    <a href="#"><h2><span style="font-size:93px;">View Our Recent Projects</span></h2></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="tf-space flat-team home-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="team-title wow fadeInDown" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInDown;">
                    <div class="section-title">team</div>
                    <h2 class="section-heading">Team Mates</h2>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-content box-1 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                    <img src="~/assets/images/image-box/team-post-1.jpg" alt="images">
                    <div class="content">
                        <div class="title-sub">Office staff</div>
                        <h3><a class="team-name">Jirox Jhonson Jr.</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-content active wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms " style="visibility: visible; animation-duration: 1500ms; animation-delay: 200ms; animation-name: fadeInUp;">
                    <img src="~/assets/images/image-box/team-post-2.jpg" alt="images">
                    <div class="content">
                        <div class="title-sub">Site staff</div>
                        <h3><a class="team-name">Browni H. Himoxi</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-content box-3 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 400ms; animation-name: fadeInUp;">
                    <img src="~/assets/images/image-box/team-post-3.jpg" alt="images">
                    <div class="content">
                        <div class="title-sub">Site staff</div>
                        <h3><a class="team-name">Deloxi Z. Zuxxi</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>