
@{
    ViewData["Title"] = "ResidentialBlog";
}

<section class="flat-title-page">
    <div class="container">
        <div class="row">
            <div class="breadcrumbs">
                <div class="breadcrumb-trail link-style-2">
                    <a class="home" href="/">HOME</a><span>Residential Project</span>
                </div>
                <h2 class="section-title-page"><span id="workname">Residential Blog</span></h2>
            </div>
        </div>
    </div>
</section>

<section class="tf-space flat-blog-grid">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="grid-post">
                    <div class="media">
                        <img src="~/assets/images/image-box/blog-grid-1%402x.jpg" alt="images">
                        <div class="tags">ARCHITECTURE</div>
                    </div>
                    <div class="content">
                        <div class="meta">
                            <span class="entry-date">NOVEMBER 19, 2021</span><span class="entry-author"> <a href="team-details.html"> ADMIN</a></span>
                        </div>
                        <h3>
                            <a href="~/Home/BlogDetails">
                                Modular?, semi Modular or custom made at site... which is best ?
                            </a>
                        </h3>
                        <div class="read-more link-style-5">
                            <a href="~/Home/BlogDetails" class="readmore">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="grid-post active">
                    <div class="media">
                        <img src="~/assets/images/image-box/blog-grid-2%402x.jpg" alt="images">
                        <div class="tags">INTERIOR</div>
                    </div>
                    <div class="content">
                        <div class="meta">
                            <span class="entry-date">NOVEMBER 19, 2021</span><span class="entry-author"> <a href="team-details.html"> ADMIN</a></span>
                        </div>
                        <h3>
                            <a href="~/Home/BlogDetails">
                                Plywood, MDF, HDHMR or PPBL which material is better?
                            </a>
                        </h3>
                        <div class="read-more link-style-5">
                            <a href="~/Home/BlogDetails" class="readmore">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="grid-post">
                    <div class="media">
                        <img src="~/assets/images/image-box/blog-grid-3%402x.jpg" alt="images">
                        <div class="tags">CORE DESIGN</div>
                    </div>
                    <div class="content">
                        <div class="meta">
                            <span class="entry-date">NOVEMBER 19, 2021</span><span class="entry-author"> <a href="team-details.html"> ADMIN</a></span>
                        </div>
                        <h3>
                            <a href="~/Home/BlogDetails">
                                How to minimise Home interior budget
                            </a>
                        </h3>
                        <div class="read-more link-style-5">
                            <a href="~/Home/BlogDetails" class="readmore">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="grid-post">
                    <div class="media">
                        <img src="~/assets/images/image-box/blog-grid-4%402x.jpg" alt="images">
                        <div class="tags">ARCHITECTURE</div>
                    </div>
                    <div class="content">
                        <div class="meta">
                            <span class="entry-date">NOVEMBER 19, 2021</span><span class="entry-author"> <a href="team-details.html"> ADMIN</a></span>
                        </div>
                        <h3>
                            <a href="~/Home/BlogDetails">
                                High glossy laminate or Acrylic laminate? which is better
                            </a>
                        </h3>
                        <div class="read-more link-style-5">
                            <a href="~/Home/BlogDetails" class="readmore">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="grid-post">
                    <div class="media">
                        <img src="~/assets/images/image-box/blog-grid-5%402x.jpg" alt="images">
                        <div class="tags">CORE DESIGN</div>
                    </div>
                    <div class="content">
                        <div class="meta">
                            <span class="entry-date">NOVEMBER 19, 2021</span><span class="entry-author"> <a href="team-details.html"> ADMIN</a></span>
                        </div>
                        <h3>
                            <a href="~/Home/BlogDetails">
                                Cautions to take before getting interiors done...
                            </a>
                        </h3>
                        <div class="read-more link-style-5">
                            <a href="~/Home/BlogDetails" class="readmore">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>