
@{
    ViewData["Title"] = "WorkDetails";
}

<section class="flat-title-page">
    <div class="container">
        <div class="row">
            <div class="breadcrumbs">
                <div class="breadcrumb-trail link-style-2">
                    <a class="home" href="/">HOME</a><span>Residential Project</span>
                </div>
                <h2 class="section-title-page">
                    @if ((ViewData["work"] as string) == "comercial")
                    {
                        <span id="workname">
                            Project Details
                        </span>
                    }
                    else
                    {
                        <span id="workname">
                            Test
                        </span>
                    }
                </h2>
            </div>
        </div>
    </div>
</section>

@if ((ViewData["work"] as string) == "comercial")
{
    <partial name="_workComercial" />
    @section Scripts{
        <script>
            $("#allwork").click(function () {
                $("#allwork").addClass("active");
                $("#btncorporate").removeClass("active");
                $("#btnofficerene").removeClass("active");
                $("#btnindutrial").removeClass("active");
                $("#btnturnkey").removeClass("active");
                $("#corporate").show();
                $("#officerene").show();
                $("#indutrial").show();
                $("#turnkey").show();
            })
            $("#btncorporate").click(function () {
                $("#btncorporate").addClass("active");
                $("#allwork").removeClass("active");
                $("#btnofficerene").removeClass("active");
                $("#btnindutrial").removeClass("active");
                $("#btnturnkey").removeClass("active");
                $("#corporate").show();
                $("#officerene").hide();
                $("#indutrial").hide();
                $("#turnkey").hide();
            })
            $("#btnofficerene").click(function () {
                $("#btnofficerene").addClass("active");
                $("#allwork").removeClass("active");
                $("#btncorporate").removeClass("active");
                $("#btnindutrial").removeClass("active");
                $("#btnturnkey").removeClass("active");
                $("#corporate").hide();
                $("#officerene").show();
                $("#indutrial").hide();
                $("#turnkey").hide();
            })
            $("#btnindutrial").click(function () {
                $("#btnindutrial").addClass("active");
                $("#allwork").removeClass("active");
                $("#btncorporate").removeClass("active");
                $("#btnofficerene").removeClass("active");
                $("#btnturnkey").removeClass("active");
                $("#corporate").hide();
                $("#officerene").hide();
                $("#indutrial").show();
                $("#turnkey").hide();
            })
            $("#btnturnkey").click(function () {
                $("#btnturnkey").addClass("active");
                $("#allwork").removeClass("active");
                $("#btncorporate").removeClass("active");
                $("#btnofficerene").removeClass("active");
                $("#btnindutrial").removeClass("active");
                $("#corporate").hide();
                $("#officerene").hide();
                $("#indutrial").hide();
                $("#turnkey").show();
            })
        </script>
    }
}
else
{
    <partial name="_workResidential" />

    @section Scripts{
        <script>
            $(document).ready(function () {
                var querystring = new URLSearchParams(location.search).get("work");
                $("#workname").text(querystring)
            })
        </script>
    }
}