<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ARC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/arcik.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/swiper-bundle.min.css">
    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/assets/icon/Favicon.png">
    <link rel="apple-touch-icon-precomposed" href="~/assets/icon/Favicon.png">
</head>
<body class="header-fixed counter-scroll">

    <div class="preload preload-container">
        <div class="preload-logo"></div>
    </div>

    <div id="wrapper" class="animsition">
        <div id="page" class="clearfix">

            <div id="site-header-wrap">
                <div id="top-bar">
                    <div id="top-bar-inner">
                        <div class="top-bar-inner-wrap">
                            <div class="top-bar-content">
                                <div class="inner link-style-2">
                                    <div class="top-bar-left">
                                        <span class="content"><a><span>info@sbinteriorsolutions.net</span></a></span>
                                        <span class="content"><a href="tel:08142666454">081426 66454</a></span>
                                    </div>
                                    <div class="top-bar-right">
                                        <ul class="list-content content">
                                            <li> <a href="https://www.facebook.com/sbinterior">FB</a></li>
                                            <li> <a href="https://twitter.com/sbinteriorsol">TW</a></li>
                                            <li> <a href="https://www.youtube.com/c/SbinteriorsolutionsNet">YT</a></li>
                                            <li> <a href="https://sbinteriorsolutions.tumblr.com">TB</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <header id="site-header">
                    <div id="site-logo" class="clearfix">
                        <div id="site-log-inner">
                            <a href="/" rel="home" class="main-logo">
                                <img src="~/assets/images/logo/logo.jpg" alt="arcik" width="100" height="44"
                                     style="width: 14em;"
                                     data-retina="assets/images/logo/logo-header@2x.png" data-width="100" data-height="44">
                            </a>
                        </div>
                    </div>
                    <div class="mobile-button">
                        <span></span>
                    </div>
                    <div id="site-header-inner">
                        <div class="wrap-inner clearfix">
                            <nav id="main-nav" class="main-nav">
                                <ul id="menu-primary-menu" class="menu">
                                    <li class="menu-item">
                                        <a href="/">Home</a>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a>Services</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item"><a asp-controller="Home" asp-action="Residential">Residential Projects</a></li>
                                            <li class="menu-item">
                                                <a asp-controller="Home" asp-action="Comercial">Corporate Projects</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item">
                                        <a asp-controller="Home" asp-action="Blogs">Blogs</a>
                                    </li>
                                    @*<li class="menu-item menu-item-has-children">
                                            <a>Blogs</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item"><a asp-controller="Home" asp-action="ResidentialBlog">Residential Blog</a></li>
                                                <li class="menu-item">
                                                    <a asp-controller="Home" asp-action="ComercialBlog">Commercial Blog</a>
                                                </li>
                                            </ul>
                                        </li>*@
                                    <li class="menu-item">
                                        <a asp-controller="Home" asp-action="AboutUs">About Us</a>
                                    </li>
                                    <li class="menu-item">
                                        <a asp-controller="Home" asp-action="Contact">Contact</a>
                                    </li>
                                </ul>
                            </nav>

                        </div>

                    </div>

                    @*<div class="navigation-side-menu icon-icon">
                        </div>*@
                </header>

                <div class="side-menu__block">
                    <div class="side-menu__block-overlay custom-cursor__overlay">
                        <div class="cursor"></div>
                        <div class="cursor-follower"></div>
                    </div>
                    <div class="side-menu__block-inner">
                        <div class="side-menu__top justify-content-end">
                            <a href="#" class="side-menu__toggler side-menu__close-btn"><img src="assets/icon/close-1-1.png" alt="images"></a>
                        </div>
                        <div class="side-menu__top-introduce">
                            <a href="index.html" rel="home" class="main-logo">
                                <img src="assets/images/logo/logo.jpg" alt="arcik" width="100" height="44" data-retina="assets/images/logo/logo-header@2x.png" data-width="100" data-height="44">
                            </a>
                            <p>
                                Etiam efficitur, metus in cursus imperdiet, neque nisl porta erat, nec volutpat
                                felis lacus a tellus. Nunc tristique nulla nisi.
                            </p>
                        </div>
                        <div class="widget search">
                            <div class="widget-title">
                                <h2>Search Here</h2>
                            </div>
                            <form action="#" method="get" role="search" class="search-form">
                                <input type="search" class="search-field" placeholder="Search your keyword..." value="" name="s" title="Search for" required="">
                                <button class="search-icon search-submit" type="submit" title="Search"></button>
                            </form>
                        </div>
                        <div class="side-menu__top-category">
                            <div class="widget widget-categories">
                                <div class="widget-title">
                                    <h2>Categories</h2>
                                </div>
                                <ul>
                                    <li>
                                        <a href="blog.html">Business</a>
                                        <div class="number">26</div>
                                    </li>
                                    <li class="active">
                                        <a href="blog.html">Consultant</a>
                                        <div class="number">30</div>
                                    </li>
                                    <li>
                                        <a href="blog.html">Creative</a>
                                        <div class="number">71</div>
                                    </li>
                                    <li>
                                        <a href="blog.html">UI/UX</a>
                                        <div class="number">56</div>
                                    </li>
                                    <li>
                                        <a href="blog.html">Teachnology</a>
                                        <div class="number">60</div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            @RenderBody()

            <footer id="footer" class="clearfix">
                <div class="footer-content container-fluid">
                    <div class="row">
                        <div class="footer-left">
                            <a id="scroll-top">
                                <span>
                                    BACK TO<br>
                                    TOP
                                </span>
                            </a>
                            @*<div class="texts">
                                    <h1>Arcik.</h1>
                                </div>*@
                        </div>
                        <div class="footer-right">
                            <div class="content">
                                <h4>CONTACT</h4>
                                <h2>Get In Touch</h2>
                                <div class="widget-information">
                                    <ul>
                                        <li>
                                            <span class="item location"></span>
                                            <span class="texts">
                                                Shop No. 3, 1st floor, Sriven grand mall, Bachupally - Miyapur road, Miyapur.
                                                Hyderabad, Telangana 500049.<br /><br />
                                                Google Map address :<a href="https://g.page/sbinterior?share">Map</a>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="item phone"></span><span class="texts">
                                                <a href="tel:04023046451">04023046451</a>,
                                                &nbsp;&nbsp;<a href="tel:04029884101">04029884101</a>,
                                                &nbsp;&nbsp;<a href="tel:08142666454">08142666454</a>,
                                                &nbsp;&nbsp;<a href="tel:08142666451">08142666451</a>,
                                                &nbsp;&nbsp;<a href="tel:09849710101">09849710101</a>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="item mail"></span><span class="texts">
                                                <a href="https://themesflat.com/cdn-cgi/l/email-protection#7a13141c153a1f021b170a161f54191517">
                                                    <span class="__cf_email__" data-cfemail="fd94939b92bd98859c908d9198d39e9290">
                                                        info@sbinteriorsolutions.net
                                                    </span>
                                                </a>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="button-footer">

                                </div>
                                <div class="widget-links">
                                    <ul class="links-wrap">
                                        <li><a asp-controller="Home" asp-action="AboutUs">About Us</a></li>
                                        <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                                        <li><a asp-controller="Home" asp-action="AboutUs">Our experts</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

            <div id="bottom" class="clearfix has-spacer">
                <div id="bottom-bar-inner" class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="bottom-content-left link-style-4">Copyright © 2020 by SB Interior Solutions.</div>
                        </div>
                        @*<div class="col-md-6">
                                <div class="bottom-bar-menu">
                                    <ul class="menu-bottom-menu link-style-4">
                                        <li><a href="faq.html">FAQ</a></li>
                                        <li><a href="pricing.html">Pricing</a> </li>
                                        <li><a href="team.html">Team</a> </li>
                                    </ul>
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>

    </div>
    <section>
        <div id="formPopup" class="side-menu__block">
            <div class="side-menu__block-overlay custom-cursor__overlay">
                <div class="cursor"></div>
                <div class="cursor-follower"></div>
            </div>
            <div class="side-menu__block-innerdata">
                <div class="side-menu__top justify-content-end">
                    <a href="#" class="side-menu__toggler side-menu__close-btn"><img src="~/assets/icon/close-1-1.png" alt="images"></a>
                </div>
                <div class="side-menu__top-introduce pb-5">
                    <h3 style="text-align: center; font-size: 27px;">
                        Please fill the form to get access to all our project pics.
                    </h3>
                </div>
                <form onsubmit="SendMessage()">
                    <div class="widget search">
                        <div class="row form-group">
                            <div class="col-md-2">
                                <span>Your name</span>
                            </div>
                            <div class="col-md-9">
                                <input type="text" required id="Name" class="form-control" placeholder="Your name" />
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                <span>Mobile number</span>
                            </div>
                            <div class="col-md-9">
                                <input type="text" required id="MobileNumber" maxlength="10" class="form-control" placeholder="Mobile number" />
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                <span>Email Id</span>
                            </div>
                            <div class="col-md-9">
                                <input type="text" required id="EmailID" class="form-control" placeholder="Email Id" />
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                <span>Looking For</span>
                            </div>
                            <div class="col-md-9">
                                <select id="lookingfor" required class="form-control">
                                    <option value="Residential Projects">Residential Projects</option>
                                    <option value="Corporate Projects">Corporate Projects</option>
                                    <option value="Others">Others</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-9">
                                <button class="button btn-style2" id="submitbtn" style="line-height: 5px;">Submit</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="button" onclick="Cancel()" class="button btn-style2" style="line-height: 5px;">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/countto.js"></script>
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/shortcodes.js"></script>
    <script src="~/assets/js/jquery.easing.js"></script>
    <script src="~/assets/js/jquery.fancybox.js"></script>
    <script src="~/assets/js/plugin.js"></script>

    <script src="~/assets/js/swiper-bundle.min.js"></script>
    <script src="~/assets/js/swiper.js"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>

    </script>
</body>
</html>
