
.indexh3 {
    color: #fff;
    font-size: 55px;
}
@media (min-width:320px) {
    .indexh3 {
        color: #fff;
        font-size: 35px;
    }
}

@media (min-width:480px) { /* smartphones, Android phones, landscape iPhone */
}

@media (min-width:600px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}

@media (min-width:801px) { /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width:1025px) {
    .indexh3 {
        color: #fff;
        font-size: 55px;
    }
}

@media (min-width:1281px) {
    .indexh3 {
        color: #fff;
        font-size: 55px;
    }
}

.side-menu__block-innerdata {
    position: absolute;
    right: 0;
    top: 15%;
    left: 23%;
    padding: 0 20px;
    width: 50%;
    max-width: 60%;
    height: 58%;
    overflow-y: auto;
    background-color: #eceeef;
    z-index: 999999;
}
.side-menu__block-overlay {
    cursor:auto !important;
}
.widget.search input, .widget.search select {
    padding: 9px 19px;
    font-size: inherit;
}
select.form-control:not([size]):not([multiple]) {
    height: calc(4.25rem + 2px) !important;
    background-color: #f5f5f5;
}
.widget.search span{
    font-size:large;
}
.widget.search .col-md-2 {
    padding-top: 8px;
}